html {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #adab86, #91eae4);
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: #4a90e2;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    resize: none;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #357abd;
}

.result {
    font-size: 1.2em;
    margin-top: 20px;
    color: #ff5722;
}

.history {
    margin-top: 30px;
    text-align: left;
}

.history h2 {
    font-size: 1.5em;
    color: #4a90e2;
    text-align: center;
}

.history ul {
    list-style-type: none;
    padding: 0;
}

.history li {
    margin-bottom: 10px;
    margin-top: 30px;
}

.history a {
    color: #357abd;
    text-decoration: none;
    margin-left: 20px;
    background-color: #357abd;
    border-radius: 8px;
    color: white;
    padding: 10px;
    transition: 0.5s ease all;
}

.history a:hover {
    transition: 0.5s ease all;
    background-color: #235788;
}

.processed-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

.inspect-message-container a {
    text-decoration: none;
    color: white;
    background-color: #357abd;
    border-radius: 8px;
    padding: 10px;
}

.inspect-message-container a:hover {
    transition: 0.5s ease all;
    background-color: #235788;
}

.inspect-message-container p, .inspect-message-container h2{
    margin: 0px;
}

.inspect-message-container {
    padding: 30px;
}

.inspect-message-container > div {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inspect-message-container > div p {
    word-wrap: break-word;
}

.model-info > div{
    text-align: left;
}

.data-info{
    display: flex;
}

.data-info img{
    width: 100%;
}

.data-info h2{
    height: 60px;
}

.container.data-info{
    width: 800px;
}