<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam žinučių tikrintuvas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spam žinučių tikrinimas</h1>
        <p>Įrašykite tekstą ir pasirinkite algoritmą</p>
        <textarea id="message" placeholder="Tekstas........."></textarea>
        <select id="algorithm">
            <option value="AVK">Atraminių vektorių klasifikatorius</option>
            <option value="LRK">Logistinės regresijos klasifikatorius</option>
            <option value="NBK">Naive Bayes klasifikatorius</option>
            <option value="k-nearest">K-artimiausių kaimynų klasifikatorius</option>  
        </select>
        <button onclick="classifyMessage()">Tikrinti žinutę</button>
        <div class="result" id="result"></div>
    </div>

  <div class="container history">
      <h2>Rezultatai</h2>

      {% for call in history %}
      <div class="processed-info">

        <div>
            <p><b>Žinutė:</b> {{ call.message[:50] }}{% if call.message|length > 50 %}...{% endif %}</p>
            
            <p><b>Algoritmas:</b> {{ call.algorithm }} </p>
            
            <p><b>Rezultatas:</b> {{ call.result }}</p>
        </div>

        <div>
            <a href="/inspect/{{ loop.index0 }}">Peržiūrėti</a>
        </div>

      </div>
      {% endfor %}
  </div>

    <script>
        async function classifyMessage() {
            const message = document.getElementById("message").value;
            const algorithm = document.getElementById("algorithm").value;
            const response = await fetch('/classify', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message, algorithm })
            });
            const data = await response.json();
            location.reload();
        }
    </script>
</body>
</html>
