<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam žinučių tikrintuvas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spam žinučių tikrintuvas</h1>
        <p>Įrašykite tekstą ir pasirinkite algoritmą</p>
        <textarea id="message" placeholder="Žinutė........."></textarea>
        <select id="algorithm">
            <option value="AVK">Atraminių vektorių klasifikatorius</option>
            <option value="LRK">Logistinės regresijos klasifikatorius</option>
            <option value="NBK">Naive Bayes klasifikatorius</option>
            <option value="k-nearest">K-artimiausių kaimynų klasifikatorius</option>  
        </select>
        <button onclick="classifyMessage()">Tikrinti žinutę</button>
        <div class="result" id="result"></div>
    </div>

  <div class="container history">
      <h2>Praeiti tikrinimai</h2>
      <ul>
          {% for call in history %}
          <li>
            
              <strong>Žinutė:</strong> 
              {{ call.message[:50] }}{% if call.message|length > 50 %}...{% endif %}    
              <br><strong>Algoritmas:</strong> {{ call.algorithm }} 
              <br><strong>Rezultatas:</strong> {{ call.result }}
              <a href="/inspect/{{ loop.index0 }}">Peržiūrėti</a>
          </li>
          {% endfor %}
      </ul>
  </div>

    <script>
        async function classifyMessage() {
            const message = document.getElementById("message").value;
            const algorithm = document.getElementById("algorithm").value;
            const response = await fetch('/classify', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message, algorithm })
            });
            const data = await response.json();
            location.reload();
        }
    </script>
</body>
</html>
