<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klasifikavimo peržiūrėjimas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <p><strong>Žinutė:</strong></p>
        <p>{{ call.message }}</p>
        <p><strong>Algoritmas:</strong> {{ call.algorithm }}</p>
        <p><strong>Rezultatas:</strong> {{ call.result }}</p>
        <a href="/">Grįžti</a>
    </div>
</body>
</html>
